<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/menu :: menu"></div>

<h1>Pátios</h1>
<a th:href="@{/patio/novo}">Novo Pátio</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Capacidade</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    <tr th:each="patio : ${patios}">
        <td th:text="${patio.id}"></td>
        <td th:text="${patio.nome}"></td>
        <td th:text="${patio.capacidade}"></td>
        <td th:text="${patio.status}"></td>
        <td>
            <a th:href="@{|/patio/editar/${patio.id}|}">Editar</a> |
            <a th:href="@{|/patio/excluir/${patio.id}|}">Excluir</a>
        </td>
    </tr>
</table>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
